h1 {background-image: url (https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    height: 50%;
    width: 50%;
    margin: 25% 25% 25% 25%;
    text-align: center;
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: black;
}
h2 {font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
h3 {font-size: 23px;
      font-weight: bold;
      font-family: Helvetica;
      text-align: center;
    }
footer {font-family: Helvetica;
            font-size: 11px;
            color: white;
            background-color: dimgray;
            text-align: left;
          }
.mid {background-image: url (https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-family: Helvetica;
      font-size: 23px;
      font-weight: bold;
      color: green;
      text-align: center;
    }
.intro {height: 50%;
width: 50%;
margin: 25% 25% 25% 25%;
text-align: center;
font-family: Helvetica;
}
